@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .custom-triangle {
    @apply border-x-[15px] border-x-transparent border-b-[30px];
  }

  .custom-circle {
    @apply rounded-full border-[15px];
  }

  .custom-square {
    @apply border-[15px];
  }
}
